%h1 Edit profile page

= form_for @profile do |f|
  = f.label :location
  = f.text_field :location
  = f.label :tagline
  = f.text_field :tagline
  = f.label :description
  = f.text_area :description
  = f.submit
