= render 'profiles/search_form'

%h2 you searched for "#{@search_query}"

%ol
  - @profiles.each do |p|
    %li
      %p= link_to p.user.email, profile_path(p)
      %p location: #{p.location}
      %p tagline: #{p.tagline}
      %p description: #{p.description}

